@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Welcome to our customer management application!</h4>
        <p class="mb-0">With this tool, you can easily add new customers and modify existing ones. To get started, simply navigate to the <span class="bg-warning text-dark p-1">Customers</span> tab to access our full range of features. We hope you find this application helpful in managing your customer relationships. If you have any questions or feedback, please don't hesitate to <a href="#" class="alert-link">contact us</a>.</p>
    </div>
</div>

